{
    "ignorePatterns": ["**/libraries/**/*.js"],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "script",
        "ecmaFeatures": {
			"modules": true
        }
    },
	"globals": {
		"wp": true,
		"page": true,
		"browser": true,
		"context": true,
		"jQuery": "writable",
		"$": "writable",
		"pagenow": "writable",
		"AYYASH_ADDONS_JS": true,
		"elementor": true,
		"elementorCommon": true,
		"elementorFrontend": true,
		"elementorFrontendConfig": true,
		"elementorModules": true
	},
    "rules": {
		"eqeqeq": "warn",
		"semi": "error",
		"arrow-parens": ["error", "as-needed"]
    },
    "env": {
        "browser": true,
        "node": false
    }
}
